@media (max-width: 450px) {
  .btn {
    grid-auto-flow: column;
    margin-top: 4%;
  }
  
}

body {
    margin: 4%;
    font-family: "IBM Plex Sans", sans-serif;
}

.btn {
    padding: 0.7rem 1.4rem;
    margin-left: 0.7rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.card {
  border: 1px solid black;
  border-radius: 0;
  padding-bottom: 2rem;
}

#checkboxNoLabel {
  border: 1px solid black;
  border-radius: 0;
}